.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	padding: 48px;
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, 1fr);
	align-content: flex-end;
	gap: 12px;

	width: 650px;
}
